name: Linux

on: [push]

env:
  BUILD_CONFIGURATION: Release

jobs:
  ice_so_and_client_so:
    runs-on: ubuntu-22.04 # For GLIBC_3.4.30+ support

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Update sources to include xenial main
      run: sudo su -c "echo 'deb [trusted=yes] http://us.archive.ubuntu.com/ubuntu/ xenial main' >> /etc/apt/sources.list"

    - name: Update sources to include xenial universe
      run: sudo su -c "echo 'deb [trusted=yes] http://us.archive.ubuntu.com/ubuntu/ xenial universe' >> /etc/apt/sources.list"

    - name: Update packages
      run: sudo apt update -y

    - name: Install make
      run: sudo apt-get install make

    - name: Install headers
      run: sudo apt-get install gcc-multilib g++-multilib -y

    - name: Install GL headers
      run: sudo apt install libgl-dev -y

    - name: Build ice.so
      working-directory: ./linux
      run: make hl CFG=${{env.BUILD_CONFIGURATION}}

    - name: Build client.so
      working-directory: ./linux
      run: make hl_cdll CFG=${{env.BUILD_CONFIGURATION}}

    - name: Upload client.so
      uses: actions/upload-artifact@v4
      with:
        name: client.so
        path: ./linux/Release/client.so
